.logo {
    position: relative;
    left: 7.5%;
    bottom: 20%;
}
.casa {
	height: 14px;
}
.flechaI {
	position: relative;
    right: 20%;
    top: 108px;
}
.flechaD {
	position: relative;
    left: 48%;
    top: 107px;
}
.puntos {
	position: relative;
    left: 20%;
    top: 248px;

}
.granosCafe {
	position: relative;
    left: 45%;
    top: 175px;
}
.circle {
	position: relative;
    left: 50%;
    top: 98px;
}
.cup.Big {
    width: 20%;
}