.logo {
    position: relative;
    left: 118px;
    bottom: 51px;
}
.casa {
	height: 14px;
}
.flechaI {
	position: relative;
    right: 298px;
    top: 108px;
}
.flechaD {
	position: relative;
    left: 718px;
    top: 108px;
}
.puntos {
	position: relative;
    left: 154px;
    top: 248px;

}
.granosCafe {
	position: relative;
    left: 650px;
    top: 175px;
}
.circle {
	position: relative;
    left: 751px;
    top: 98px;
}