#page-wrap {
 width: 800px;
 margin: 40px auto 60px; }

#pic {
 float: right;
 margin: -30px 0 0 0;
  }



#objective {
 width: 500px; float: left;
 }

#objective p {
  font-family: Georgia, Serif;
  font-style: italic;
  color: #666;
   }
